@using Blog.ViewModels
@model ArticleViewModel


@{
    ViewData["Title"] = "Details";
}

    <partial name="_Genres"  model="Model.Genres"/>
    <div class="wrapper d-flex align-items-stretch">
			    <nav id="sidebar">
				    <div class="p-4 pt-5">
	            <ul class="list-unstyled components mb-5">
	              <li class="active">
	              <li>
                      @foreach (var title in Model.SideBarArticles)
                      {
                          <a asp-controller=Home asp-action=Article data-toggle="tooltip" data-placement="down" title="@title.Description" >@title.Title</a>
                      }
              
	              </li>
	            </ul>
	          </div>
    	    </nav>

            <!-- Page Content  -->
          <div id="content" class="p-4 p-md-5" style="position: relative;top: 31px;">
                  @{
                 Html.RenderPartial("../Shared/_StatusMessage", (string)(TempData["Message"])); 
                  }


           <h2 class="mb-4">@Html.DisplayFor(model => model.Article.Title)</h2>
            <ul><li style="list-style:none;margin-left: -30px;margin-top: -15px;"><span class="strong" style="color:var(--gfg-color-lg);font-family:var(--font-sofia);font-size:15px">Last Updated :</span>
                <span style="color:var(--gfg-color-lg);font-family:var(--font-sofia);font-size:15px">@Html.DisplayFor(model => model.Article.LastUpdated)</span><p></p>
                </li>
            </ul>  
            <ul><li style="list-style:none;margin-left: -30px;margin-top: -15px;"><span class="strong" style="color:var(--gfg-color-lg);font-family:var(--font-sofia);font-size:15px">Genre Name :</span>
                <span style="color:var(--gfg-color-lg);font-family:var(--font-sofia);font-size:15px">@Html.DisplayFor(model => model.Article.GenreName)</span><p></p>
                </li>
            </ul> 
            <p>@Html.DisplayFor(model => model.Article.Description)</p>
            <p>@Html.DisplayFor(model => model.Article.Content)</p>
            <div> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
                    <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                  <i class="bi bi-tag-fill"><a class="btn btn-link" onclick="document.getElementById('Genre-form').submit();">@Html.DisplayFor(model => model.Article.Categories)</a></i></div>
                  <div class="contant" style="width: 886px;position: relative;top: -278px;right: -722px;">
                    @{
                       await Html.RenderPartialAsync("_icon");
                    }
                </div>
                  <div class="Createcomment-div" style="position: relative;top: -130px;">
                   @{ await Html.RenderPartialAsync("_CreateComment", new Comment {ArticleId=Model.Article.ArticleId ,ParentId=Guid.Empty }); }
                </div>

                <div class="contant" style="width: 886px;position: relative;top: -109px;">
                    @{
                        foreach (var maincommentview in Model.MainComments)
                        {
                            <partial name="_CommentView" model="maincommentview"/>
                        }
                    }
                </div>

            </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure??</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                 <p>You are about to delete this Article!!!!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"asp-controller="Home" asp-action="Article"  asp-route-id="@Model.Article.ArticleId">Close</button>
                <form method="post" asp-action="RemoveArticle" asp-controller="Home">
                    <input type="hidden" name="id" value="@Model.Article.ArticleId"/>
                    <input type="submit" value="Delete" class="btn btn-primary btn-danger" /> 
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>

    <link rel="stylesheet" href="~/HomeStyle/assets/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Article/css/style.css"asp-append-version="true" />
    <link rel="stylesheet" href="~/Article/css/font.css"asp-append-version="true" />
    <link rel="stylesheet" href="~/Article/css/googleapis.css"asp-append-version="true" />

    <script src="~/Article/js/jquery.min.js"asp-append-version="true"></script>
    <script src="~/Article/js/popper.js"asp-append-version="true"></script>
    <script src="~/Article/js/bootstrap.min.js"asp-append-version="true"></script>
    <script src="~/Article/js/main.js"asp-append-version="true"></script>










