@using Blog.ViewModels
@model ArticleViewModel


@{
    ViewData["Title"] = "Details";
}

<partial name="_Genres"  model="Model.Genres"/>
<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	          <li>
                  @foreach (var title in Model.SideBarArticles)
                  {
                      <a asp-controller=Home asp-action=Article data-toggle="tooltip" data-placement="down" title="@title.Description" >@title.Title</a>
                  }
              
	          </li>
	        </ul>
	      </div>
    	</nav>
 @{
    Html.RenderPartial("../Shared/_StatusMessage", (string)(TempData["Message"])); 
   }
        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5" style="position: relative;top: 31px;">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
            @*    <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>*@
                @*<li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>*@
              </ul>
            </div>

          </div>
        </nav>
       <h2 class="mb-4">@Html.DisplayFor(model => model.Article.Title)</h2>
        <ul><li style="list-style:none;margin-left: -30px;margin-top: -15px;"><span class="strong" style="color:var(--gfg-color-lg);font-family:var(--font-sofia);font-size:15px">Last Updated :</span>
            <span style="color:var(--gfg-color-lg);font-family:var(--font-sofia);font-size:15px">@Html.DisplayFor(model => model.Article.LastUpdated)</span><p></p>
            </li>
        </ul>  
        <ul><li style="list-style:none;margin-left: -30px;margin-top: -15px;"><span class="strong" style="color:var(--gfg-color-lg);font-family:var(--font-sofia);font-size:15px">Genre Name :</span>
            <span style="color:var(--gfg-color-lg);font-family:var(--font-sofia);font-size:15px">@Html.DisplayFor(model => model.Article.GenreName)</span><p></p>
            </li>
        </ul> 
        <p>@Html.DisplayFor(model => model.Article.Description)</p>
        <p>@Html.DisplayFor(model => model.Article.Content)</p>
        <div> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
              <i class="bi bi-tag-fill"><a class="btn btn-link" onclick="document.getElementById('Genre-form').submit();">@Html.DisplayFor(model => model.Article.Categories)</a></i></div>
              <div class="Createcomment-div">
               @{ await Html.RenderPartialAsync("_CreateComment", new Comment {ArticleId=Model.Article.ArticleId ,ParentId=Guid.Empty }); }
            </div>
      @*</div style="position: relative;top: 102px;">*@
<!--###########################icon##########################-->
      @* <div class="container" style="position: relative;top: 60px;r;/* right: 68px; */">
          <!--###########################Pin##########################-->
          <form id="Article-form" asp-controller="Home" asp-action="ArticlePin" method="post" style="position: relative;top: 31px;right: -315px;width: 38px;">
              <input type="hidden" name="ArticleId" value="@Model.Article.ArticleId" />
          <button type="submit" class="btn btn-light"  data-toggle="tooltip" data-placement="down" title="Pin" style="position: relative;right: 1px;width: 34px;height: 46px;top: 7px;"></button></form>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16" style="position: relative;right: -320px;height: 27px;width: 24px;">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
          </svg>
          
          <!--########################### End Pin##########################-->
          <!--###########################Like##########################-->
          <form id="Article-form" asp-controller="Home" asp-action="ArticleLike" method="post" style="position: relative;right: -368px;width: 39px;height: 36px;top: -29px;">
              <input type="hidden" name="ArticleId" value="@Model.Article.ArticleId" />
          <button type="submit" class="btn btn-light" data-toggle="tooltip" data-placement="down" title="Like" style="position: relative;right: 5px;width: 34px;height: 46px;top: -3px;"></button></form>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16" style="height: 28px;width: 32px;position: relative;right: -364px;top: -68px;">
             <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
          </svg>
          <!--########################### End Like##########################-->
          <!--###########################Edit##########################-->
          <a asp-controller=Home asp-action=UpdateArticle asp-route-id="@Model.Article.ArticleId" class="btn btn-light" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="down" title="Edit Post" style="position: relative;right: -334px;width: 41px;height: 42px;" > </a>
          @*<button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="down" title="Edit Post" style="position: relative;right: -334px;width: 41px;height: 42px;"></button>*@
        @* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="width: 74px;position: relative;right: -273px;height: 29px;">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
        <!--########################### End Edit##########################-->
        <!--###########################Remove##########################-->
        <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="down" title="Remove Post" style="position: relative;right: -422px;width: 49px;height: 38px;top: -44px;"></button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16" style="position: relative;right: -381px;height: 41px;width: 25px;top: -44px;">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
        </svg>        <!--###########################Recommed##########################-->

        <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="down" title="Recommed Post" style="position: relative;right: -433px;width: 53px;height: 43px;top: -45px;"></button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16" style="position: relative;right: -384px;width: 38px;height: 25px;top: -45px;">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
        </svg>
        <!--########################### End Recommed##########################-->*@
        
                @*<a class="btn btn-outline-primary" asp-controller="Home" asp-action="AddArticle" role="button">Create Post</a>*@
            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Delet
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure??</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <p>You are about to delete this Article!!!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"asp-controller="Home" asp-action="Article"  asp-route-id="@Model.Article.ArticleId">Close</button>
        <form method="post" asp-action="RemoveArticle" asp-controller="Home">
            <input type="hidden" name="id" value="@Model.Article.ArticleId"/>
            <input type="submit" value="Delete" class="btn btn-primary btn-danger" /> 
        </form>
      </div>
    </div>
  </div>
</div>

        

        <!--########################### End Remove##########################-->

      </div>
<!--########################### End icon##########################-->

    
 @*   <div class="container" style="position: relative;top: -41px;right: -92px;">  <div class="topics-column">  <div class="back">
            <a asp-action="Index"> &lt;&lt; Back to List</a>
        </div>*@
     @* <div id="topic-and-comments-container" class="topic-and-comments-container theme">
        <div id="cristians-topic" class="topic-container">
          <div class="topic-content-container">

                               

              <div class="topic-title-container">
                <p class="topic-title">@Html.DisplayFor(model => model.Article.Title)
                </p>
                <p class="topic-title">@Html.DisplayFor(model => model.Article.GenreName)
                </p>
                <p class="topic-title">@Html.DisplayFor(model => model.Article.Level)
                </p>
                <p class="topic-title">@Html.DisplayFor(model => model.Article.Categories)
                </p>
              </div>
              <br>
              <div class="topic-description-container">
                <p class="topic-description">@Html.DisplayFor(model => model.Article.Description)
                </p>
                 <p class="topic-description">@Html.DisplayFor(model => model.Article.Content)
                </p>
              </div>
              <hr>

            
          </div>
        </div>*@
        
          @*  <div class="Createcomment-div">
               @{ await Html.RenderPartialAsync("_CreateComment", new Comment { ArticleId = Model.Article.ArticleId, ParentId= Guid.Empty }); }
            </div>
            

        <div id="comment-container" class="comment-container">
          @foreach (var commentViewModel in Model.MainComments)

          {
          <div class="comment theme">
            <div class="profile-column">
              <i class="fas fa-user"></i>
              <div class="line">
                <!-- This is the line -->
              </div>
            </div>
            <div class="parent-comment-contents">
              <div class="user-info">
                <p class="">@Html.DisplayFor(modelItem => commentViewModel.Creator.FirstName)</p>
                <p>&#8226;</p>
                <p>@Html.DisplayFor(modelItem => commentViewModel.Comment.Created)</p>
              </div>
              <div>
                <p>@Html.DisplayFor(modelItem =>  commentViewModel.Comment.Message)</p>
              </div>
             
              
                @{
                    await Html.RenderPartialAsync("_SubComments", commentViewModel.Comment);
                }
            
                    <div style="margin-bottom:20px;">
                        
                        @{await Html.RenderPartialAsync("_CreateComment", new Comment { ArticleId = Model.Article.ArticleId, ParentId=  commentViewModel.Comment.CommentId });}
                    </div>
                
            </div>
          </div>
          } 
        </div>
        <br>
      </div>
    </div>*@
 @*   <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"asp-append-version="true" >
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/Article/js/jquery.min.js"asp-append-version="true"></script>
    <script src="~/Article/js/popper.js"asp-append-version="true"></script>
    <script src="~/Article/js/bootstrap.min.js"asp-append-version="true"></script>
    <script src="~/Article/js/main.js"asp-append-version="true"></script>
    <link rel="stylesheet" href="~/HomeStyle/assets/css/style.css" asp-append-version="true" />

   <link rel="stylesheet" href="~/Article/css/style.css"asp-append-version="true" />


<link rel="stylesheet" href="~/Article/css/font.css"asp-append-version="true" />
<link rel="stylesheet" href="~/Article/css/googleapis.css"asp-append-version="true" />









